@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url("/font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    :root {
        --color-base: #1a1a21;
        --color-base2: #1a1a21;
        --color-muted: #f8f8f6;
        --color-inverted: #e5e4e1;
        --color-fill: #ffffff;
        --color-fill-accent: #ffffff;
        --color-button-accent: #6d4aff;
        --color-button-accent-hover: #6243e6;
        --color-button-muted: #f3f3f3;
        --alpha-background: rgba(0, 0, 0, .48);
    }

    .theme-classic {
        --color-base: #f1f2f3;
        --color-base2: #32363f;
        --color-muted: #f8f8f6;
        --color-inverted: #e5e4e1;
        --color-fill: #ffffff;
        --color-fill-accent: #1c223d;
        --color-button-accent: #6d4aff;
        --color-button-accent-hover: #6243e6;
        --color-button-muted: #282f4d;
    }

    .theme-monokai {
        --color-base: #f1f1f1;
        --color-base2: #8f92a6;
        --color-muted: #1a1926;
        --color-inverted: #252635;
        --color-text-accent: #2fd6b5;
        --color-fill: #16141c;
        --color-fill-accent: #16141c;
        --color-button-accent: #e53265;
        --color-button-accent-hover: #e84774;
        --color-button-muted: #2a2635;
    }

    .theme-forest {
        --color-base: #e3e3e3;
        --color-base2: #111;
        --color-muted: #1d1e22;
        --color-inverted: #28292d;
        --color-text-accent: #2fd6b5;
        --color-fill: #1d1e22;
        --color-fill-accent: #e4e3e8;
        --color-button-accent: #86d581;
        --color-button-accent-hover: #08b388;
        --color-button-muted: #d4e8e6;
    }

    .theme-pale-tones {
        --color-base: #000;
        --color-base2: #000;
        --color-muted: #1d1e22;
        --color-inverted: #28292d;
        --color-text-accent: #2fd6b5;
        --color-fill: #959D9F;
        --color-fill-accent: #EAEAEA;
        --color-button-accent: #D7E5EE;
        --color-button-accent-hover: #08b388;
        --color-button-muted: #d4e8e6;
    }
}

* {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #383838;
    }

    ::-webkit-scrollbar-thumb {
        background: #222;
        border-radius: 16px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #181818;
    }
}

.button {
    @apply rounded-lg px-3 py-2 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-skin-button_accent;
}

.gradient1 {
    background: linear-gradient(to left, #ea8d8d, #a890fe);
}

.gradient2 {
    background: linear-gradient(to right, #0Eb9bb, #F1322D);
}

.rounded-custom {
    border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
}

.radial {
    background-image: radial-gradient(at 8% 85%, hsla(110, 97%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 70% 7%, hsla(25, 68%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 25%, hsla(155, 60%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 52%, hsla(269, 63%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 86% 32%, hsla(212, 70%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 29% 6%, hsla(144, 69%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 25%, hsla(111, 71%, 68%, 1) 0px, transparent 50%);
}