@page "/Cards/AddCard"
@using IBankingBlazorSSR.Application.Implementation
@using IBankingBlazorSSR.Application.Abstraction

@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="w-full h-full p-4 md:mt-8 md:mx-4 overflow-x-hidden">
    <EditForm Model="InputAddCard" OnValidSubmit="AddCardAsync" FormName="add-card" method="post" class="flex flex-col p-4 gap-4 w-full md:w-fit">
        <div class="flex flex-col sm:flex-row sm:items-center">
            <label class="font-bold inline-block w-56" for="cardNumber">Číslo karty</label>
            <InputText @bind-Value="InputAddCard.CardNumber" readonly id="cardNumber" class="input"/>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center">
            <label class="font-bold inline-block w-56" for="holder">Majitel</label>
            <InputText @bind-Value="InputAddCard.Holder" readonly id="holder" class="input"/>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center">
            <label class="font-bold inline-block w-56" for="expiration">Datum expirace</label>
            <InputText @bind-Value="InputAddCard.Expiration" readonly id="expiration" class="input"/>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center">
            <label class="font-bold inline-block w-56" for="cvv">CVV</label>
            <InputText @bind-Value="InputAddCard.Cvv" readonly id="cvv" class="input"/>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center">
            <label class="relative font-bold inline-block w-40" for="state">Stav</label>
            <label class="flex gap-2" for="state">
                <InputCheckbox class="accent-[#e53265]" @bind-Value="InputAddCard.State" id="state"/>
                Aktivní
            </label>
        </div>
        <div class="flex items-center justify-between">
            <a class="button border border-[#454a61] hover:bg-black" href="/">Zrušit</a>
            <button class="button bg-skin-button_accent hover:bg-skin-button_accent_hover" type="submit">Přidat</button>
        </div>
    </EditForm>
</div>

@code {
    private AccountService.InputAddCardModel InputAddCard { get; set; } = new AccountService.InputAddCardModel();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            InputAddCard = await AccountService.InitializeAddCardModelAsync();
        }
        catch (InvalidOperationException ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task AddCardAsync()
    {
        await AccountService.AddCardAsync(InputAddCard);
        NavigationManager.NavigateTo("/");
    }

}