@page "/Settings"

@attribute [RenderModeInteractiveServer]

@inject IJSRuntime JSRuntime;

<div
    role="tablist"
    aria-label="tabs"
    class="flex lg:gap-10 relative w-full text-skin-base2 h-12 justify-around md:justify-start items-center overflow-hidden transition p-1 border-b border-[#25283a]">
    <div class="absolute indicator h-10 my-auto top-0 bottom-0 left-0 border-b-2 border-gray-400"></div>
    <button
        role="tab"
        aria-selected="true"
        aria-controls="panel-1"
        id="tab-1"
        tabindex="0"
        class="relative block h-10 px-6 tab rounded-full text-skin-base transition">
        <span class="">Osobní údaje</span>
    </button>
    <button
        role="tab"
        aria-selected="false"
        aria-controls="panel-2"
        id="tab-2"
        tabindex="-1"
        class="relative block h-10 px-6 tab rounded-full text-skin-base2 transition">
        <span class="tab-text ">Motiv</span>
    </button>

</div>
<div class="mt-6 relative">
    <div
        role="tabpanel"
        id="panel-1"
        class="tab-panel flex flex-col transition duration-300 lg:ml-16 lg:mt-8 gap-8 lg:gap-16">
        <div>
            <h1 class="text-2xl font-bold">Účet a heslo</h1>
            <form class="flex flex-col p-4 gap-4">
                <div class="flex flex-col sm:flex-row sm:items-center">
                    <label class="font-bold inline-block w-32" for="name">Jméno</label>
                    <input class="bg-transparent focus:outline-none border border-solid border-[#454a61] rounded-lg px-4 py-2 text-sm" type="text" id="name" name="name"/>
                </div>
                <div class="flex flex-col sm:flex-row sm:items-center">
                    <label class="font-bold inline-block w-32" for="surname">Příjmení</label>
                    <input class="bg-transparent focus:outline-none border border-solid border-[#454a61] rounded-lg px-4 py-2 text-sm" type="text" id="surname" name="surname"/>
                </div>
                <div class="flex flex-col sm:flex-row sm:items-center">
                    <label class="font-bold inline-block w-32" for="email">Email</label>
                    <input class="bg-transparent focus:outline-none border border-solid border-[#454a61] rounded-lg px-4 py-2 text-sm" type="email" id="email" name="email"/>
                </div>
                <div class="flex flex-col sm:flex-row sm:items-center">
                    <label class="font-bold inline-block w-32" for="address">Bydliště</label>
                    <input class="bg-transparent focus:outline-none border border-solid border-[#454a61] rounded-lg px-4 py-2 text-sm" type="text" id="address" name="address"/>
                </div>
                <button type="submit" class="sm:ml-32 text-sm w-fit button border border-[#454a61] bg-skin-button_accent hover:bg-skin-button_accent_hover">
                    Potvrdit změny
                </button>
            </form>
        </div>
        <div>
            <h1 class="text-2xl font-bold">Zabezpečení</h1>
            <form class="flex flex-col p-4 w-full gap-4">
                <div class="flex flex-col sm:flex-row sm:items-center">
                    <label class="font-bold inline-block w-32">Heslo</label>
                    <button type="button" class="button border border-[#454a61] hover:bg-black whitespace-nowrap w-fit">Změnit heslo</button>
                </div>
                <div class="flex flex-col sm:flex-row sm:items-center">
                    <label class="font-bold inline-block w-32" for="phone">Telefon</label>
                    <input class="bg-transparent focus:outline-none border border-solid border-[#454a61] rounded-lg px-4 py-2 text-sm" type="tel" id="phone" name="phone"/>
                    <button type="submit" class="sm:ml-12 mt-4 sm:mt-0 text-sm w-fit button border border-[#454a61] bg-skin-button_accent hover:bg-skin-button_accent_hover">
                        Uložit telefon
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div
        role="tabpanel"
        id="panel-2"
        class="absolute top-0 invisible opacity-0 tab-panel p-6 transition duration-300">
        <h2 class="text-xl font-semibold text-gray-800">Third tab panel</h2>
        <p class="mt-4 text-gray-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas dolores voluptate temporibus, atque ab eos, delectus at ad hic voluptatem veritatis iure, nulla voluptates quod nobis doloremque eaque! Perferendis, soluta.</p>
    </div>
</div>

@code {
    private bool isJavaScriptInitialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isJavaScriptInitialized)
        {
            isJavaScriptInitialized = true;

            await JSRuntime.InvokeVoidAsync("initializeTabs");
        }
    }

}