@page "/Identity/Login"
@attribute [AllowAnonymous]

@using Microsoft.AspNetCore.Identity
@using IBankingBlazorSSR.Application.Abstraction
@using IBankingBlazorSSR.Application.ViewModels
@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Authentication

@inject NavigationManager NavigationManager

@inject IIdentityService IdentityService

@layout EmptyLayout

<PageTitle>Log in</PageTitle>

<div class="w-full h-screen flex flex justify-center items-center">
    <div class="md:bg-skin-muted px-6 py-12 rounded-xl md:shadow md:dark:shadow-[0_5px_25px_-5px_rgba(255,255,255,0.2)] w-full max-w-md flex flex-col justify-center">
        <h1 class="text-2xl font-bold mt-8">Přihlaste se</h1>
        <p class="text-skin-base2 text-sm mt-2">k vašemu internetovému bankovnictví</p>
        <EditForm class="flex flex-col py-4 gap-8 w-full mt-8" Model="ViewModel" method="post" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="flex flex-col gap-2">
                <label class="font-bold inline-block" for="username">Přihlašovací jméno</label>
                <InputText @bind-Value="ViewModel.Username" class="bg-transparent focus:outline-none border border-solid border-[#454a61] rounded-lg px-4 py-2" type="text" id="username" autocomplete="off"/>
            </div>
            <div class="flex flex-col gap-2">
                <label class="font-bold inline-block w-52" for="passwd">Heslo</label>
                <InputText @bind-Value="ViewModel.Password" class="bg-transparent focus:outline-none border border-solid border-[#454a61] rounded-lg px-4 py-2" type="password" id="passwd"/>
            </div>
            <button type="submit" class="mt-4 button border border-[#454a61] bg-skin-button_accent hover:bg-skin-button_accent_hover">
                Přihlásit
            </button>
        </EditForm>
        @_err
        <div class="mt-4 flex gap-2 justify-center">
            <p>Jste tady nový?</p>
            <a href="/Identity/Registration" class="underline hover:no-underline text-skin-accent">Vytvořit účet</a>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private LoginViewModel ViewModel { get; set; } = default!;
    
    string _err = "";
    
    protected override async Task OnInitializedAsync()
    {
        ViewModel ??= new();
        
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    private async Task LoginUser()
    {
        _err = string.Empty;
        var (success, errorMessage) = await IdentityService.LoginUserAsync(ViewModel.Username, ViewModel.Password);
        
        if (success)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _err = errorMessage;
        }
    }

}