@inherits LayoutComponentBase


@* <Header /> *@


<div class="flex flex-wrap items-start gap-12">
    <aside class="hidden lg:block sticky top-24 w-min h-min">
        <SideNav/>
    </aside>
    <main role="main" class="flex flex-col flex-1 mx-4 lg:m-0">
        @Body
    </main>
</div>

<div id="blazor-error-ui" class="hidden">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>