@inherits LayoutComponentBase

<div class="h-full w-full flex flex-col bg-skin-fill">
    <Header/>
    <div class="flex grow">
        <SideNav/>
        <main role="main" class="bg-skin-fill_accent rounded-xl w-full lg:mr-4 lg:mb-4 mb-20 lg:p-4 py-4">
            @Body
        </main>
    </div>
</div>