<!DOCTYPE html>
<html lang="en" class="bg-skin-fill text-skin-base theme-monokai h-full">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <base href="/"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/default.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body class="relative overflow-x-hidden w-full h-full">
<Routes @rendermode="InteractiveServer"/>
<div id="reconnect-modal" style="display: none;"></div>
<script src="_framework/blazor.web.js" autostart="false"></script>
<script src="js/boot.js"></script>
<script src="js/theme.js"></script>
<script src="js/tabs.js"></script>
</body>

</html>